<div class="container">
  <form>
    <div class="form-group">
      <label for="search">Search:&nbsp;</label>
      <input type="search" ng-model="nameQuery" class="form-control" />
    </div>
  </form>
  <ul>
    <li ng-repeat="contact in contacts | filter:{name: nameQuery}">
      <b>
        <a href="#/view/{{ contact.id }}">
          {{ contact.name }}
        </a>
      </b>&nbsp;
      <a href="mailto://{{ contact.email }}">
        {{ contact.email }}
      </a>
      <!-- <pre>{{ contact | json }}</pre> -->
    </li>
  </ul>
  <p>Total contacts: {{contacts.length}}</p>
  <a href="#/new" class="btn btn-primary">New Contact</a>
</div>
