<div class="container">
  <form name="contactEdit" ng-submit="save()">
    <div class="form-group">
      <label for="name">Name:</label>&nbsp;
      <input type="text" name="name" ng-model="contact.name" required class="form-control" />
      <div ng-messages="contactEdit.name.$error" class="bg-error">
        <div ng-message="required">The contact needs a name.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>&nbsp;
      <input type="email" name="email" ng-model="contact.email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>&nbsp;
      <input type="tel" name="phone" ng-model="contact.phone" class="form-control" />
    </div>
    <div class="form-group">
      <label for="address">Address:</label>&nbsp;
      <input type="text" name="name" ng-model="contact.address" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save Contact</button>
  </form>
</div>
